#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    border: 1px solid black;
    background-color: #e9c228;
}

#main-header #title {
    display: flex;
    align-items: center;
    width: 40%;
}

#main-header #title img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid #f50000;
}

#main-header section{
    font-size: 1.2rem;
    width: 40%;
}

#main-header section button{
    margin-right: 5%;
}

#main-header .panier{
    width: 10%;
}