.panier{
    display: flex;
}

.panier .firstColonnePanier{
    width: 40%;
    margin-right: 30%;
}

.panier img {
    width: 40%;
}

.panier .cardActionProduit {
    display: flex;
}

.panier .btnValider{
    margin-top: 10%;
    margin-bottom: 10%;
}