
.produit{
    display: flex;
}

.paperAjoutPanier{
    margin-left: 70%;
}

.produit .quantitePanier{
    display: block ruby;
    margin-bottom: 5%;
}

.produit .taillePanier{
    display: block ruby;
}

.produit .cardActionProduit {
    display: flex;
}

.produit .firstColonneProduit{
    width: 40%;
    margin-right: 30%;
}

.produit img {
    width: 40%;
}